{% extends 'base.html' %}
{% load static %}

{% block title %} Iniciar sesión {% endblock title %}

{% block contenido %}
<center>
    <form method="POST" style="margin-top: 300px;">
        <h1 class="h1">Iniciar Sesión</h1>
        <br>
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        <br>
        {% csrf_token %}
        <div class="container">
            <table>{{ form }}</table>
        </div>

        <p>
            <a style="color: black" href="{% url 'apps.usuario:registrar' %}">
                ¿Todavía no estás registrado? Regístrate.
            </a>
        </p>

        <p>
            <a style="color: black" href="{% url 'apps.usuario:password_reset' %}">
                ¿Olvidaste tu contraseña?
            </a>
        </p>

        <br>
        <button type="submit" class="btn btn-success btn-lg px-3">Iniciar Sesión</button>
    </form>
</center>
{% endblock contenido %}